<h2>Sign up</h2>  
<form ng-controller="registerCtrl as user" ng-submit="user.register()" novalidate>
  <div class="form-group">
    <label for="inputUsername">Name</label>
    <input type="text" class="form-control" id="inputUsername" placeholder="" ng-model="user.credentials.username">
  </div> 
  <div class="form-group">
    <label for="inputEmail">Email Address</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="" ng-model="user.credentials.email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="" ng-model="user.credentials.password">
  </div> 
  <div class="form-group">
    <label for="inputPassword">Password confirmation</label>
    <input type="password" class="form-control" id="inputPasswordConfirmation" placeholder="" ng-model="user.credentials.password_confirmation">
  </div>
  <input type="submit" class="btn btn-default" value="Sign up" />
</form>
<br>
<p><a href="/users/sign_in">Log in</a></p>