<h1><%= @friend.name %></h1>
<h2>Category: <%= @friend.category %></h2>
	<p><%= link_to "Edit Friend", edit_friend_path %></p>
	<p><%= link_to "Remove Friend", remove_friend_path, method: :delete , data: { confirm: "Are you sure?" }%></p>